* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------Head Section------------ */

.header {
    background-color: rgba(255, 144, 14, 0.1);
}

.section {
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 0;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.company {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    text-align: center;

}

.nav-menu ul li {
    list-style-type: none;
    display: inline-block;
    margin: 20px;


}

.nav-menu ul li a:hover {
    color: #ff900e;

    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #424242;
}

/* ----------Banner Image Part------------ */

.banner {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.banner-text {
    width: 860px;
    margin: 0;
}

.banner-title {

    font-weight: 700;
    font-size: 4rem;
    line-height: 75px;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    color: #131313;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 26px;
    color: #131313;
}

.banner-button {
    padding: 30px 0 50px 0;
    text-align: center;
}

.button-info{
    background: #ff900e;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    line-height: 23px;
    text-align: center;

    cursor: pointer;
    color: #ffffff;
    border: none;
}


/* -----------Feature Part----------- */

.feature_section {
    padding: 50px 0;
    max-width: 1320px;
    margin: 0 auto;
}

.feature {
    display: flex;
    padding: 50px 0;
    align-items: center;
    gap: 70px;
}
.feature-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;

}
.team-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
    
}
.team-image{
    overflow: hidden;
}

.feature-text{
    width: 540px;
    

}
.feature-text {
    width: 540px;

}
.feature-text .explore-button{
    text-align: left;
}
.quick-list{
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
}
.feature-textmid{
    font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #100e0e;
}
.feature-textlast{
    font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #ff900e;
}
.feature-description{
    margin-top: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.explore {
    background: #ff900e;
    border-radius: 8px;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    border: none;
    cursor: pointer;



}
 /* --------------Feature End---------- */
 .feature-2 {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 3rem;
    align-items: center;
 }
.left-border{
    border-left: 5px solid #FF900E;
    padding-left: 1rem;
}
.feature-box {
    padding: 1rem;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    margin-bottom: 1rem;
}
.feature-box h4{
    font-size: 20px;
    margin-bottom: 1rem;
}
.love-image{
    
    position: relative;
    height: 100%;
    overflow: hidden;
}
.love-image img{
  
    left: 4rem;
    bottom: 4rem;
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    object-fit: contain;
    object-position: bottom left;
}
.experience-card {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #FF900E;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
}
.experience-card h1 {
    font-size: 3.5rem;
    color: #fff
}
..experience-card h1 {
    font-size: 3.5rem;
    color: #fff
}

/* ============Some Facts Part=========== */
.facts_details  {
   gap: 1.5rem;
    margin:3rem auto;
    max-width: 545px;
    margin-top: 20px;
    text-align: center;
  }
  
  .section_description {
    font-weight: 400;
font-size: 16px;
line-height: 26px;
  }
  
  .facts_items {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
  }
  
  .facts_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 35px;
    border: 1px solid #ff900e;
    border-radius: 8px;
    position: relative;
    top: 0;
    transition: 0.5s ease;
  }
  .facts_item:hover {
    top: -20px;
  }
  
  .facts_item_title {
    font-weight: 600;
    font-size: 35px;
    line-height: 53px;
    color: #424242;
    margin: 10px 0;
  }
  
  .facts_item_subTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
  }
  /* =================Sponsor Section Start=========== */
  
  .sponsor{
    text-align: center;
  }
  .sponsor .section-content{
    align-items: center;
    gap: 1.5rem;
    width: 550px;
    margin: 25px auto;
  }
  .sponsor-container{
    width: 100%;
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .sponsor-image img {
    filter: grayscale(100%);
}
.sponsor-image img:hover {
    filter: grayscale(0%);
}

/* =================Footer part============== */

.footer {
    text-align: center;
    background-color: rgba(255, 144, 14, 0.1);
    padding: 2rem 1rem;
    border-radius: 8px;
}

/* =============Mobile Device============== */

@media screen and (max-width: 992px){
    body {
        margin: 0 auto;

    }
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        margin-bottom: 50px;
      }
      .banner {
        padding: 30px;
        margin: 0 auto;
        flex-direction: column-reverse;
      }
      .banner_text {
        width: 100%;
      }
      .banner_title {
        font-size: 35px;
        line-height: 40px;
      }
      .banner_image img {
        width: 100%;
        margin-bottom: 30px;
      }
      .banner-button {
        padding: 15px 30px;
        font-size: 16px;
      }
      /* Feature part============ */
      .feature {
        gap: 40px;
        padding: 0 30px;
        flex-direction: column;
      }
      .feature_text {
        width: 100%;
        text-align: center;
      }
      .feature_text .banner_button {
        text-align: center;
        padding-bottom: 0;
      }

      

      /* sponsor */
      .section-content {
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
      }
      .sponsor-container{
        filter: grayscale(0);
      }
      .footer {
        padding: 30px 0;
      }
}

